## Stack - Projeto Human Resources Analytics

### Modelagem de Dados.

#### Importando as bibliotecas necessárias.

In [4]:
import pandas as pd
import datetime
import glob
import math

#### Instalando a biblioteca para conexão com o Banco de Dados.

In [6]:
!pip install pymysql
!pip install pandas
!pip install sqlalchemy

Requirement already satisfied: pymysql in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (1.0.3)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.15-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 18.0 MB/s eta 0:00:00[36m0:00:01[36m0:00:01
Requirement already satisfied: typing-extensions>=4.2.0 in /home/gitpod/.pyenv/versions/3.11.1/lib/python3.11/site-packages (from sqlalchemy) (4.5.0)
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (618 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 618.8/618.8 kB 24.7 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.15

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

#### Conexão com o banco de dados.

In [9]:
from sqlalchemy.engine import create_engine
engine = create_engine('mysql+pymysql://root:stack@127.0.0.1:3307/employees')

### Criação do atributos **Satisfaction Level** e **Last_Evaluation**.

#### Carregando os dados de avaliação de desempenho.

In [10]:
df_performance_evaluation = pd.read_json("../datalake/landing/performance-evaluation/employee_performance_evaluation.json",orient="records",lines=True)

IsADirectoryError: [Errno 21] Is a directory: '../datalake/landing/performance-evaluation/employee_performance_evaluation.json'

In [ ]:
#Windows
#df_performance_evaluation = pd.read_json("..\\datalake\\landing\\performance-evaluation\\employee_performance_evaluation.json",orient="records",lines=True)

In [5]:
df_performance_evaluation.head()

   emp_id  satisfaction_level  last_evaluation
0   10001                  38               53
1   10002                  80               86
2   10003                  11               88
3   10004                  72               87
4   10005                  37               52

### Criando o atributo Number_Project

#### Definindo a query para retorna o número de projetos por colaborador.

In [6]:
query = """SELECT Count(PROJECT_ID) as number_projects
FROM projects_emp
GROUP BY (emp_id);"""

In [7]:
df_number_projects = pd.read_sql_query(query,engine)

In [8]:
df_number_projects.head()

   number_projects
0                2
1                5
2                7
3                5
4                2

### Criação do atributo **Mean_Work_Last_3_Months**.

#### Criando uma estrutura de Dataframe vazia.

In [9]:
df_sistema_ponto = pd.DataFrame(data=None, columns=["emp_id","data","hora"])

#### Carregando os dados do registro de horas trabalhadas.

In [10]:
for sheet in glob.glob("../datalake/landing/working-hours/*.xlsx"):
    df_ = pd.read_excel(sheet)
    df_sistema_ponto = pd.concat([df_sistema_ponto,df_])

In [ ]:
# Windows
#for sheet in glob.glob("..\\datalake\\landing\\working-hours\\*.xlsx"):
    #df_ = pd.read_excel(sheet)
    #df_sistema_ponto = pd.concat([df_sistema_ponto,df_])

In [11]:
df_sistema_ponto.head()

  emp_id       data hora
0  10001 2020-05-31    4
1  10001 2020-06-01    4
2  10001 2020-06-02   13
3  10001 2020-06-03    9
4  10001 2020-06-04   12

#### Convertendo os atributo para o tipo de dados datetime.

In [13]:
df_sistema_ponto["hora"] = pd.to_numeric(df_sistema_ponto["hora"])

#### Filtrando apenas os registros dos últimos 3 meses.

In [14]:
df_last_3_month = df_sistema_ponto[(df_sistema_ponto['data'] > datetime.datetime(2020,9,30))]

#### Verificando a contagem de registros por colaborador.

In [15]:
df_last_3_month.groupby("emp_id").count()

        data  hora
emp_id
10001     92    92
10002     92    92
10003     92    92
10004     92    92
10005     92    92
...      ...   ...
24996     92    92
24997     92    92
24998     92    92
24999     92    92
25000     92    92

[15000 rows x 2 columns]

#### Calculando o valor médio da quantidade de horas nos últimos 3 meses.

In [16]:
mean_work_last_3_months = df_last_3_month.groupby("emp_id")["hora"].agg("sum")/3

#### Atribuindo os dados ao Dataframe para a verificação.

In [17]:
mean_work_last_3_months = pd.DataFrame(data=mean_work_last_3_months)

In [18]:
mean_work_last_3_months.rename(columns={"hora":"mean_work_last_3_months"},inplace=True)

In [19]:
mean_work_last_3_months.head()

        mean_work_last_3_months
emp_id
10001                266.000000
10002                252.000000
10003                289.666667
10004                275.666667
10005                292.333333

### Criando o atributo Time_in_Company

#### Definindo uma data de referencia.

In [20]:
date_referencia = datetime.date(2021, 1, 1)

#### Definindo a query para retornar os dados do banco de dados.

In [21]:
query = """SELECT hire_date
FROM employees;"""

In [22]:
df_hire_date = pd.read_sql_query(query,engine)

In [23]:
df_hire_date.head()

    hire_date
0  2018-01-17
1  2015-02-02
2  2017-01-22
3  2016-01-28
4  2018-01-17

#### Convertendo o tipo de dados para datetime.

In [24]:
df_hire_date["hire_date"] = pd.to_datetime(df_hire_date["hire_date"])

#### Calculando a diferença em dias a partir da data de contratação do colaborador até a data de referencia.

In [25]:
days_diff = []
for d in df_hire_date["hire_date"]:
    diff = date_referencia - d.date()
    days_diff.append(diff.days)

In [26]:
days_diff

[1080,
 2160,
 1440,
 1800,
 1080,
 1080,
 1440,
 1800,
 1800,
 1080,
 1080,
 1440,
 1800,
 1080,
 1080,
 1080,
 1080,
 2160,
 1080,
 1800,
 1440,
 1080,
 1440,
 1080,
 1080,
 1800,
 1800,
 1080,
 1080,
 1080,
 1440,
 1080,
 1080,
 1080,
 2160,
 1440,
 1080,
 1080,
 1440,
 1080,
 1800,
 1080,
 1080,
 1440,
 1440,
 1440,
 1080,
 2160,
 1080,
 1080,
 720,
 1080,
 1080,
 1080,
 1440,
 1080,
 1440,
 1440,
 1080,
 1800,
 1800,
 1440,
 1800,
 1080,
 1440,
 1440,
 1080,
 2160,
 1800,
 1080,
 1080,
 1440,
 1080,
 1440,
 1440,
 1440,
 1440,
 1080,
 1080,
 1080,
 1080,
 1080,
 1080,
 2160,
 1440,
 1440,
 1080,
 1080,
 1080,
 1440,
 1080,
 1800,
 1080,
 1080,
 1440,
 1080,
 1440,
 1440,
 1440,
 2160,
 1080,
 1080,
 1080,
 1440,
 1080,
 1800,
 1800,
 1080,
 1440,
 1080,
 1080,
 1440,
 1080,
 1800,
 1800,
 1080,
 720,
 1440,
 1080,
 1080,
 1440,
 1080,
 2160,
 1800,
 1080,
 1440,
 1080,
 1800,
 1440,
 1080,
 1440,
 1080,
 1800,
 1080,
 1080,
 1800,
 1440,
 1080,
 1800,
 1800,
 1440,
 1080,
 1440,
 1080,
 1800,
 1080,
 1800,
 1440,
 1800,
 1080,
 1440,
 1080,
 1080,
 1080,
 1080,
 1440,
 1800,
 1440,
 1080,
 1080,
 1440,
 2160,
 1080,
 1800,
 1800,
 1440,
 1080,
 1800,
 1800,
 1080,
 1800,
 1080,
 1440,
 1440,
 1440,
 720,
 1080,
 1080,
 1080,
 1800,
 1080,
 1440,
 1800,
 1440,
 1080,
 1080,
 1440,
 1080,
 1080,
 1080,
 1800,
 2160,
 1800,
 1440,
 1800,
 1440,
 1080,
 1440,
 1440,
 2160,
 1800,
 1080,
 1800,
 1440,
 2160,
 1080,
 1800,
 1800,
 1080,
 1080,
 1080,
 1080,
 1800,
 1080,
 1080,
 1080,
 1080,
 1800,
 1080,
 1800,
 1440,
 1080,
 1080,
 1800,
 1080,
 1800,
 1080,
 1080,
 1800,
 2160,
 1080,
 2160,
 1440,
 1080,
 1440,
 1800,
 1080,
 1080,
 1080,
 1440,
 1440,
 1080,
 1080,
 1080,
 1800,
 1080,
 1080,
 1080,
 1800,
 1440,
 1800,
 2160,
 1080,
 1800,
 1800,
 1080,
 1440,
 1080,
 1800,
 1440,
 1080,
 1800,
 1080,
 1440,
 1080,
 1800,
 1440,
 1080,
 1080,
 2160,
 1080,
 1440,
 1800,
 1440,
 1440,
 2160,
 1440,
 2160,
 1440,
 1440,
 1440,
 1080,
 2160,
 1440,
 1080,
 1080,
 1440,
 1440,
 1800,
 1080,
 1080,
 1800,
 1080,
 1440,
 1440,
 1080,
 1080,
 1080,
 1080,
 1800,
 1080,
 1440,
 1800,
 1080,
 1800,
 1080,
 1080,
 1440,
 1080,
 1440,
 1440,
 1440,
 1080,
 1080,
 1440,
 2160,
 1080,
 1080,
 1440,
 1080,
 1080,
 1800,
 1080,
 1440,
 1080,
 1080,
 1080,
 2160,
 1440,
 1080,
 1080,
 1440,
 1440,
 1080,
 1440,
 1080,
 1800,
 1080,
 1080,
 1440,
 1800,
 1080,
 1800,
 1080,
 1080,
 1440,
 1800,
 1440,
 1440,
 1080,
 1800,
 2160,
 2160,
 1080,
 1800,
 1080,
 1080,
 1080,
 1800,
 1440,
 1440,
 1800,
 1080,
 1800,
 1080,
 1800,
 1440,
 1080,
 1800,
 1440,
 1080,
 1080,
 1080,
 1080,
 1800,
 1800,
 720,
 1080,
 720,
 1800,
 1080,
 1080,
 1080,
 1080,
 1080,
 1800,
 1440,
 1440,
 1080,
 1080,
 1800,
 1080,
 1800,
 1440,
 1080,
 1080,
 1080,
 1800,
 2160,
 1440,
 2160,
 1800,
 1800,
 1800,
 1800,
 1440,
 1800,
 1440,
 1800,
 1800,
 1440,
 2160,
 1080,
 1080,
 1800,
 1080,
 2160,
 1440,
 1440,
 1800,
 1440,
 1440,
 1800,
 1080,
 1080,
 1080,
 1800,
 1440,
 1080,
 1080,
 2160,
 1080,
 1080,
 2160,
 1440,
 1080,
 1440,
 1080,
 1800,
 1080,
 1080,
 1440,
 1800,
 1800,
 1080,
 1800,
 1080,
 1440,
 1080,
 1800,
 1800,
 1800,
 1440,
 1080,
 1440,
 1080,
 1800,
 1800,
 1080,
 1080,
 1080,
 1080,
 1800,
 1800,
 1800,
 1080,
 1080,
 1440,
 1800,
 1080,
 1440,
 1080,
 1800,
 1080,
 1800,
 1080,
 1440,
 1440,
 1800,
 1800,
 1080,
 1440,
 2160,
 1080,
 1080,
 720,
 1080,
 1440,
 1440,
 1440,
 2160,
 1080,
 1440,
 1440,
 1800,
 2160,
 1440,
 1440,
 1080,
 1800,
 1800,
 1800,
 1800,
 1080,
 2160,
 1800,
 1800,
 1080,
 1080,
 1080,
 1080,
 1800,
 1440,
 1440,
 1800,
 2160,
 1440,
 1440,
 1080,
 1080,
 1800,
 1800,
 1440,
 2160,
 1800,
 1080,
 1080,
 1440,
 1800,
 1080,
 1080,
 1080,
 1440,
 1080,
 2160,
 1080,
 1440,
 1080,
 1800,
 1440,
 1080,
 1800,
 1800,
 1800,
 1080,
 1800,
 1080,
 1080,
 1800,
 1080,
 1440,
 1800,
 1800,
 2160,
 1080,
 1440,
 1080,
 1080,
 1080,
 1440,
 1440,
 1080,
 1080,
 1440,
 1080,
 1440,
 1440,
 1440,
 1080,
 1440,
 1080,
 1800,
 2160,
 1080,
 1080,
 1080,
 720,
 2160,
 1800,
 1080,
 1080,
 1800,
 1800,
 1080,
 1080,
 1080,
 1080,
 1080,
 1800,
 1080,
 1080,
 1080,
 1440,
 1080,
 1440,
 1440,
 1800,
 1440,
 1080,
 1440,
 2160,
 2160,
 1440,
 1800,
 1440,
 1800,
 1080,
 1440,
 1080,
 1440,
 1440,
 1080,
 1080,
 1800,
 1440,
 1440,
 1080,
 1800,
 1080,
 1080,
 720,
 1440,
 1440,
 1080,
 1080,
 2160,
 1080,
 1080,
 2160,
 1080,
 1440,
 720,
 1800,
 1080,
 1800,
 1080,
 1080,
 1080,
 1800,
 1080,
 1080,
 1800,
 1800,
 1080,
 1080,
 1080,
 1440,
 1080,
 1080,
 1080,
 1080,
 1440,
 1440,
 1080,
 1440,
 1800,
 1800,
 1080,
 1080,
 2160,
 1080,
 1080,
 2160,
 1800,
 1440,
 1800,
 1080,
 2160,
 1440,
 1800,
 1440,
 1440,
 1080,
 1080,
 1080,
 1080,
 1440,
 2160,
 1080,
 1800,
 1440,
 1080,
 1440,
 1800,
 1080,
 1800,
 1440,
 1440,
 1440,
 1800,
 1080,
 1440,
 1800,
 1440,
 1800,
 1440,
 1440,
 1440,
 1080,
 1080,
 1080,
 1800,
 1080,
 1080,
 1080,
 1080,
 1800,
 1800,
 1440,
 1080,
 720,
 1080,
 1800,
 1800,
 1080,
 1080,
 1080,
 1440,
 2160,
 1800,
 1080,
 1080,
 1080,
 1080,
 1080,
 1080,
 1080,
 1080,
 1080,
 1440,
 1080,
 1800,
 720,
 1080,
 1440,
 1800,
 1800,
 1080,
 1440,
 1440,
 1440,
 1440,
 1080,
 1440,
 1080,
 1440,
 1080,
 1080,
 1080,
 2160,
 1080,
 1080,
 1080,
 1080,
 1800,
 1080,
 1800,
 1080,
 1080,
 1080,
 1440,
 1440,
 1080,
 1080,
 1800,
 720,
 1800,
 1080,
 1800,
 1080,
 1440,
 1440,
 1080,
 1080,
 1080,
 1080,
 1800,
 1440,
 1440,
 1440,
 1440,
 1800,
 1800,
 1080,
 1080,
 1800,
 1800,
 1080,
 720,
 1440,
 1440,
 1440,
 1800,
 1800,
 1440,
 1080,
 1080,
 1440,
 1440,
 1080,
 2160,
 1080,
 2160,
 1440,
 1800,
 720,
 1080,
 1800,
 1800,
 1440,
 1800,
 1440,
 1080,
 1440,
 1440,
 1800,
 1800,
 1440,
 720,
 1080,
 1440,
 1800,
 1080,
 1080,
 1080,
 1440,
 1440,
 1080,
 1800,
 1080,
 1800,
 1800,
 1080,
 2160,
 1800,
 1440,
 1080,
 1440,
 2160,
 1080,
 1080,
 1440,
 1440,
 720,
 1080,
 1080,
 1440,
 2160,
 1440,
 1080,
 1080,
 1080,
 1800,
 1080,
 1800,
 1080,
 1440,
 1440,
 1800,
 1440,
 1800,
 1080,
 1080,
 1080,
 1440,
 1800,
 1080,
 1080,
 2160,
 1080,
 1080,
 1800,
 1440,
 1800,
 1800,
 1800,
 1800,
 1080,
 1080,
 1800,
 1440,
 1800,
 1440,
 1080,
 1080,
 1800,
 1080,
 1080,
 1440,
 1440,
 1080,
 1800,
 1800,
 1800,
 1800,
 1440,
 1080,
 1440,
 1440,
 1800,
 2160,
 1080,
 1080,
 1080,
 1080,
 1800,
 1440,
 1440,
 1800,
 1800,
 1800,
 1080,
 1800,
 1080,
 2160,
 1080,
 1440,
 1080,
 1440,
 1800,
 1080,
 1080,
 1080,
 1080,
 1080,
 1440,
 1800,
 1440,
 2160,
 1800,
 1800,
 1440,
 1080,
 1440,
 1440,
 1080,
 1440,
 1440,
 1440,
 1080,
 1800,
 1080,
 1440,
 1800,
 1440,
 1800,
 1080,
 1080,
 1440,
 1440,
 1800,
 1080,
 1440,
 1800,
 1080,
 1800,
 1080,
 1080,
 1080,
 1440,
 1080,
 1800,
 1080,
 1080,
 1080,
 1800,
 1440,
 1800,
 1080,
 1080,
 1080,
 1800,
 1800,
 1080,
 1440,
 1080,
 1800,
 1440,
 1080,
 1440,
 1080,
 1080,
 2160,
 1080,
 1800,
 1080,
 1080,
 1440,
 1800,
 1080,
 1440,
 1800,
 1080,
 1800,
 1080,
 1080,
 1080,
 1800,
 1080,
 1080,
 ...]

#### Convertendo o número de dias em quantidade de anos.

In [27]:
nyears = []
for ndays in days_diff:
    nyears.append(int(math.ceil(ndays / 365)))

In [28]:
nyears

[3,
 6,
 4,
 5,
 3,
 3,
 4,
 5,
 5,
 3,
 3,
 4,
 5,
 3,
 3,
 3,
 3,
 6,
 3,
 5,
 4,
 3,
 4,
 3,
 3,
 5,
 5,
 3,
 3,
 3,
 4,
 3,
 3,
 3,
 6,
 4,
 3,
 3,
 4,
 3,
 5,
 3,
 3,
 4,
 4,
 4,
 3,
 6,
 3,
 3,
 2,
 3,
 3,
 3,
 4,
 3,
 4,
 4,
 3,
 5,
 5,
 4,
 5,
 3,
 4,
 4,
 3,
 6,
 5,
 3,
 3,
 4,
 3,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 6,
 4,
 4,
 3,
 3,
 3,
 4,
 3,
 5,
 3,
 3,
 4,
 3,
 4,
 4,
 4,
 6,
 3,
 3,
 3,
 4,
 3,
 5,
 5,
 3,
 4,
 3,
 3,
 4,
 3,
 5,
 5,
 3,
 2,
 4,
 3,
 3,
 4,
 3,
 6,
 5,
 3,
 4,
 3,
 5,
 4,
 3,
 4,
 3,
 5,
 3,
 3,
 5,
 4,
 3,
 5,
 5,
 4,
 3,
 4,
 3,
 5,
 3,
 5,
 4,
 5,
 3,
 4,
 3,
 3,
 3,
 3,
 4,
 5,
 4,
 3,
 3,
 4,
 6,
 3,
 5,
 5,
 4,
 3,
 5,
 5,
 3,
 5,
 3,
 4,
 4,
 4,
 2,
 3,
 3,
 3,
 5,
 3,
 4,
 5,
 4,
 3,
 3,
 4,
 3,
 3,
 3,
 5,
 6,
 5,
 4,
 5,
 4,
 3,
 4,
 4,
 6,
 5,
 3,
 5,
 4,
 6,
 3,
 5,
 5,
 3,
 3,
 3,
 3,
 5,
 3,
 3,
 3,
 3,
 5,
 3,
 5,
 4,
 3,
 3,
 5,
 3,
 5,
 3,
 3,
 5,
 6,
 3,
 6,
 4,
 3,
 4,
 5,
 3,
 3,
 3,
 4,
 4,
 3,
 3,
 3,
 5,
 3,
 3,
 3,
 5,
 4,
 5,
 6,
 3,
 5,
 5,
 3,
 4,
 3,
 5,
 4,
 3,
 5,
 3,
 4,
 3,
 5,
 4,
 3,
 3,
 6,
 3,
 4,
 5,
 4,
 4,
 6,
 4,
 6,
 4,
 4,
 4,
 3,
 6,
 4,
 3,
 3,
 4,
 4,
 5,
 3,
 3,
 5,
 3,
 4,
 4,
 3,
 3,
 3,
 3,
 5,
 3,
 4,
 5,
 3,
 5,
 3,
 3,
 4,
 3,
 4,
 4,
 4,
 3,
 3,
 4,
 6,
 3,
 3,
 4,
 3,
 3,
 5,
 3,
 4,
 3,
 3,
 3,
 6,
 4,
 3,
 3,
 4,
 4,
 3,
 4,
 3,
 5,
 3,
 3,
 4,
 5,
 3,
 5,
 3,
 3,
 4,
 5,
 4,
 4,
 3,
 5,
 6,
 6,
 3,
 5,
 3,
 3,
 3,
 5,
 4,
 4,
 5,
 3,
 5,
 3,
 5,
 4,
 3,
 5,
 4,
 3,
 3,
 3,
 3,
 5,
 5,
 2,
 3,
 2,
 5,
 3,
 3,
 3,
 3,
 3,
 5,
 4,
 4,
 3,
 3,
 5,
 3,
 5,
 4,
 3,
 3,
 3,
 5,
 6,
 4,
 6,
 5,
 5,
 5,
 5,
 4,
 5,
 4,
 5,
 5,
 4,
 6,
 3,
 3,
 5,
 3,
 6,
 4,
 4,
 5,
 4,
 4,
 5,
 3,
 3,
 3,
 5,
 4,
 3,
 3,
 6,
 3,
 3,
 6,
 4,
 3,
 4,
 3,
 5,
 3,
 3,
 4,
 5,
 5,
 3,
 5,
 3,
 4,
 3,
 5,
 5,
 5,
 4,
 3,
 4,
 3,
 5,
 5,
 3,
 3,
 3,
 3,
 5,
 5,
 5,
 3,
 3,
 4,
 5,
 3,
 4,
 3,
 5,
 3,
 5,
 3,
 4,
 4,
 5,
 5,
 3,
 4,
 6,
 3,
 3,
 2,
 3,
 4,
 4,
 4,
 6,
 3,
 4,
 4,
 5,
 6,
 4,
 4,
 3,
 5,
 5,
 5,
 5,
 3,
 6,
 5,
 5,
 3,
 3,
 3,
 3,
 5,
 4,
 4,
 5,
 6,
 4,
 4,
 3,
 3,
 5,
 5,
 4,
 6,
 5,
 3,
 3,
 4,
 5,
 3,
 3,
 3,
 4,
 3,
 6,
 3,
 4,
 3,
 5,
 4,
 3,
 5,
 5,
 5,
 3,
 5,
 3,
 3,
 5,
 3,
 4,
 5,
 5,
 6,
 3,
 4,
 3,
 3,
 3,
 4,
 4,
 3,
 3,
 4,
 3,
 4,
 4,
 4,
 3,
 4,
 3,
 5,
 6,
 3,
 3,
 3,
 2,
 6,
 5,
 3,
 3,
 5,
 5,
 3,
 3,
 3,
 3,
 3,
 5,
 3,
 3,
 3,
 4,
 3,
 4,
 4,
 5,
 4,
 3,
 4,
 6,
 6,
 4,
 5,
 4,
 5,
 3,
 4,
 3,
 4,
 4,
 3,
 3,
 5,
 4,
 4,
 3,
 5,
 3,
 3,
 2,
 4,
 4,
 3,
 3,
 6,
 3,
 3,
 6,
 3,
 4,
 2,
 5,
 3,
 5,
 3,
 3,
 3,
 5,
 3,
 3,
 5,
 5,
 3,
 3,
 3,
 4,
 3,
 3,
 3,
 3,
 4,
 4,
 3,
 4,
 5,
 5,
 3,
 3,
 6,
 3,
 3,
 6,
 5,
 4,
 5,
 3,
 6,
 4,
 5,
 4,
 4,
 3,
 3,
 3,
 3,
 4,
 6,
 3,
 5,
 4,
 3,
 4,
 5,
 3,
 5,
 4,
 4,
 4,
 5,
 3,
 4,
 5,
 4,
 5,
 4,
 4,
 4,
 3,
 3,
 3,
 5,
 3,
 3,
 3,
 3,
 5,
 5,
 4,
 3,
 2,
 3,
 5,
 5,
 3,
 3,
 3,
 4,
 6,
 5,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 3,
 5,
 2,
 3,
 4,
 5,
 5,
 3,
 4,
 4,
 4,
 4,
 3,
 4,
 3,
 4,
 3,
 3,
 3,
 6,
 3,
 3,
 3,
 3,
 5,
 3,
 5,
 3,
 3,
 3,
 4,
 4,
 3,
 3,
 5,
 2,
 5,
 3,
 5,
 3,
 4,
 4,
 3,
 3,
 3,
 3,
 5,
 4,
 4,
 4,
 4,
 5,
 5,
 3,
 3,
 5,
 5,
 3,
 2,
 4,
 4,
 4,
 5,
 5,
 4,
 3,
 3,
 4,
 4,
 3,
 6,
 3,
 6,
 4,
 5,
 2,
 3,
 5,
 5,
 4,
 5,
 4,
 3,
 4,
 4,
 5,
 5,
 4,
 2,
 3,
 4,
 5,
 3,
 3,
 3,
 4,
 4,
 3,
 5,
 3,
 5,
 5,
 3,
 6,
 5,
 4,
 3,
 4,
 6,
 3,
 3,
 4,
 4,
 2,
 3,
 3,
 4,
 6,
 4,
 3,
 3,
 3,
 5,
 3,
 5,
 3,
 4,
 4,
 5,
 4,
 5,
 3,
 3,
 3,
 4,
 5,
 3,
 3,
 6,
 3,
 3,
 5,
 4,
 5,
 5,
 5,
 5,
 3,
 3,
 5,
 4,
 5,
 4,
 3,
 3,
 5,
 3,
 3,
 4,
 4,
 3,
 5,
 5,
 5,
 5,
 4,
 3,
 4,
 4,
 5,
 6,
 3,
 3,
 3,
 3,
 5,
 4,
 4,
 5,
 5,
 5,
 3,
 5,
 3,
 6,
 3,
 4,
 3,
 4,
 5,
 3,
 3,
 3,
 3,
 3,
 4,
 5,
 4,
 6,
 5,
 5,
 4,
 3,
 4,
 4,
 3,
 4,
 4,
 4,
 3,
 5,
 3,
 4,
 5,
 4,
 5,
 3,
 3,
 4,
 4,
 5,
 3,
 4,
 5,
 3,
 5,
 3,
 3,
 3,
 4,
 3,
 5,
 3,
 3,
 3,
 5,
 4,
 5,
 3,
 3,
 3,
 5,
 5,
 3,
 4,
 3,
 5,
 4,
 3,
 4,
 3,
 3,
 6,
 3,
 5,
 3,
 3,
 4,
 5,
 3,
 4,
 5,
 3,
 5,
 3,
 3,
 3,
 5,
 3,
 3,
 ...]

#### Atribuindo os dados ao Dataframe para verificação.

In [29]:
df_hire_date["time_in_company"] = nyears

In [30]:
df_hire_date.head()

   hire_date  time_in_company
0 2018-01-17                3
1 2015-02-02                6
2 2017-01-22                4
3 2016-01-28                5
4 2018-01-17                3

### Criando o atributo Work_Accident

#### Carregando os dados a partir do banco de dados.

In [31]:
df_employees = pd.read_sql_table("employees",engine)

In [32]:
df_accident = pd.read_sql_table("accident",engine)

#### Verificando quais colaboradores sofreram acidente.

In [33]:
work_accident = []
for emp in df_employees["emp_no"]:
    if emp in df_accident["emp_no"].to_list():
        work_accident.append(1)
    else:
        work_accident.append(0)

#### Atribuindo ao Dataframe para verificação.

In [34]:
df_work_accident = pd.DataFrame(data=None, columns=["work_accident"])

In [35]:
df_work_accident["work_accident"] = work_accident

In [36]:
df_work_accident.head()

   work_accident
0              0
1              0
2              0
3              0
4              0

### Criando os atributos Department, Salary e Left

#### Definindo a query para retornar os atributos.

In [37]:
query = """SELECT emp.department as department,sal.salary as salary, emp.left
FROM employees emp
INNER JOIN salaries sal
ON emp.emp_no = sal.emp_id;
"""

In [39]:
df_department_salary_left = pd.read_sql_query(query,engine)

In [40]:
df_department_salary_left.head()

  department  salary  left
0      sales     low     1
1      sales  medium     1
2      sales  medium     1
3      sales     low     1
4      sales     low     1